body {
  background-image: url("list.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  background-image: linear-gradient(to right, #b8e4f0, #7267cb);
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}

.content {
  background: #b8e4f0;
  margin: 20px auto;
  padding: 20px;
  max-width: fit-content;
  border-radius: 10px;
  box-shadow: rgb(181, 181, 181) 10px 5px 20px;
}

.content ul li {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 5px 10px;
  align-items: center;
}

.content .list-group-item {
  display: flex;
  flex-grow: 2;
}

.content .delete-btn {
  border-radius: 50%;
}
