h1 {
  background-image: linear-gradient(to right, #b8e4f0, #7267cb);
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}

.content {
  background: #b8e4f0;
  margin: 20px auto;
  padding: 20px;
  max-width: fit-content;
}

.content ul li {
  display: flex;
  flex-grow: 3;
  list-style: none;
  margin: 5px 10px;
}

.content .delete-btn {
  border-radius: 50%;
}
