:root {
  --primary-color: rgb(114, 103, 203);
  --secondary-color: rgb(184, 228, 240);
}

body {
  background-image: url("/src/list.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  background-image: linear-gradient(
    to right,
    var(--secondary-color),
    var(--primary-color)
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}

.content {
  background: var(--secondary-color);
  margin: 20px auto;
  padding: 20px;
  max-width: fit-content;
  border-radius: 10px;
  box-shadow: rgb(181, 181, 181) 10px 5px 20px;
}

.content ul li {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 5px 10px;
  align-items: center;
}

.content .list-group-item {
  display: flex;
  flex-grow: 2;
}

.content .delete-btn {
  border-radius: 50%;
}

.task {
  margin: 0 10px;
  border-radius: 4px;
}

.task.isDone {
  text-decoration: line-through;
}

.close {
  color: white;
  background-color: var(--primary-color);
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 18px;
}

.close:hover {
  cursor: pointer;
  background-color: rgba(114, 103, 203, 0.8);
  transition: all 200ms ease-in-out;
}

footer {
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
}

footer a {
  text-decoration: none;
}
